:root {
    --background: #1a1a2e;
    --background2: #16162b;
    --text-color: #ffffff;
    --primary-color: #0f3460;
    --orange-color: #FFA500;
  }

  .main-content {
    width: 78%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  