:root {
  --background: #1a1a2e;
  --color: #ffffff;
  --primary-color: #0f3460;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}
/* .App {
  
} */
