.btn {
    width: 100%;
    margin: 2px;
    padding: 13px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
        transform: scale(1.02);
    }
}

.primary {}

.secondary {}

.disabled {
    opacity: .6;
    cursor: not-allowed !important;
}
