.settings {
    fieldset {
        margin-bottom: 20px;
        padding: 20px;
        border: 2px solid;

        legend {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 24px;
        }
    }

    .updateUserDataForm {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activateSection {        
            input[type="radio"] {
                display: none;
            }
        
            label {
                padding: 3px 5px;
                border: 1px solid;
                cursor: pointer;
            }
    }

    .deleteAccount {
        button {
            padding: 5px 13px;
            color: red;
            border-color: red;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.isActive {
    background-color: gray;
    color: #fff;
}

.errorMsg {
    color: #ff0000;
    margin-bottom: 1.2rem ;
}