.product {
    border: 1px solid;
    flex-grow: 1;

    .productImgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 180px;
            width: 100%;
            object-fit: contain;
        }
    }

    .productContent {
        padding: 10px 7px;
    }

    .productInfoWrapper {
        margin-bottom: 10px;
        text-align: center;
    }

    .btnWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 3px;


        button {
            flex-grow: 1;
        }
    }
}