.updateProductModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
    }

    .inputWrapper {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    button {
        width: 100%;
    }
}